@import "../_main/fonts";
@import "./grey-refresh-config";
@import "../_main/style";

.cl-main-widget-wrapper .cl-main-widget-navigation-container {
  position: unset;
  height: unset;
  z-index: unset;
  left: unset;
  top: unset;
  width: 100%;
  padding: 0.5em 0;
}

.cl-widget-ms-wrapper .cl-widget-ms-optin-wrapper .cl-widget-ms-optin-action:hover{
  border: 1px solid var(--lb3-miniscoreboard-opt-btn-back-hover);
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-items {
  width: 100%;
  display: flex;
  justify-content: left;
  background-color: var(--lb3-widget-navigation-background-color);
  border-radius: 3px;
  float:unset;
  padding:0;
}
.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-lb {
  margin: 5px 0px;
  width: var(--lb3-widget-navigation-icon-width);
  height: var(--lb3-widget-navigation-icon-height);
  background-image: none;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: unset;
}
.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-lb-icon {
  background-size: 26px;
  opacity: 1;
}
.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-ach {
  margin: 5px 0px;
  width: var(--lb3-widget-navigation-icon-width);
  height: var(--lb3-widget-navigation-icon-height);
  background-image: none;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: unset;
}
.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-ach-icon {
  background-size: 26px;
  opacity: 1;
}
.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-rewards {
  margin: 5px 0px;
  width: var(--lb3-widget-navigation-icon-width);
  height: var(--lb3-widget-navigation-icon-height);
  background-image: none;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: unset;
}
.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-rewards-icon {
  background-size: 26px;
  opacity: 1;
}
.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-inbox {
  margin: 5px 0px;
  width: var(--lb3-widget-navigation-icon-width);
  height: var(--lb3-widget-navigation-icon-height);
  background-image: none;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: unset;
}
.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-inbox-icon {
  background-size: 26px;
  opacity: 1;
}
.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-lb.cl-active-nav, .cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-lb.cl-active-nav:hover {
  opacity: 1;
  margin: -3px 0 -3px 0;
  background-color: var(--lb3-widget-nav-icon-active-bg-color);
  border-radius: 4px;
  transition: all 0.3s;
  height: 47px;
  width: var(--lb3-widget-navigation-icon-width);
}
.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-rewards.cl-active-nav, .cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-rewards.cl-active-nav:hover {
  width: var(--lb3-widget-navigation-icon-width);
  opacity: 1;
  margin: -3px 0 -3px 0;
  background-color: var(--lb3-widget-nav-icon-active-bg-color);
  border-radius: 4px;
  transition: all 0.3s;
  height: 47px;
}
.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-inbox.cl-active-nav, .cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-inbox.cl-active-nav:hover {
  width: var(--lb3-widget-navigation-icon-width);
  opacity: 1;
  margin: -3px 0 -3px 0;
  background-color: var(--lb3-widget-nav-icon-active-bg-color);
  border-radius: 4px;
  transition: all 0.3s;
  height: 47px;
}
.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-ach.cl-active-nav, .cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-ach.cl-active-nav:hover {
  width: var(--lb3-widget-navigation-icon-width);
  opacity: 1;
  margin: -3px 0 -3px 0;
  background-color: var(--lb3-widget-nav-icon-active-bg-color);
  border-radius: 4px;
  transition: all 0.3s;
  height: 47px;
}
.cl-main-widget-wrapper .cl-main-widget-section-container {
  padding:0;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb {
  height: calc(100% - 70px);
  overflow: unset;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-header .cl-main-widget-lb-header-list-icon {
  opacity: 0.5;
  transition: opacity 0.3s;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-header .cl-main-widget-lb-header-list-icon:hover{
  opacity: 1;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-header .cl-main-widget-lb-header-label {
  font-weight: 600;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-header .cl-main-widget-lb-header-close {
  background-size: 100%;
  right: -10px;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-details-content {
  padding: 5px 0 0 0;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-details-image-container .cl-main-widget-lb-details-image {
  float: unset;
  width: unset;
  padding:unset;
  margin:unset;
  border:unset;
  max-height:unset;
}

.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-details-content-label::before {
  background-image: url(../../images/info-icon.svg);
  background-size: 100%;
}

.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-leaderboard-body {
  height: calc(100% - 110px);
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-leaderboard-body .cl-lb-row:last-child {
  margin-bottom: 35px;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-section-image-banner-active .cl-main-widget-lb-leaderboard-body{
  height: calc(100% - 110px);
}
.cl-main-widget-wrapper .cl-main-widget-lb-details-container .cl-main-widget-lb-details-header-label {
  font-weight: 600;
}
.cl-main-widget-wrapper .cl-main-widget-pre-loader {
  width: 100%;
  height: calc(100% - 70px);
}

/**
 * Competition list
 */
.cl-main-widget-tournaments-list {
  height: calc(100% - 50px);
  top: 30px;
}

/**
	 * ****************************************
	 * ********** Achievements Area ***********
	 * ****************************************
	 */
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-section-ach {
  height: calc(100% - 70px);
  overflow: unset;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-section-ach .cl-ach-list-more {
  float: left;
  text-align: center;
  color: #4f4f4f;
  position: absolute;
  top: -2px;
  right: 0;
  line-height: 25px;
  background: #ffffff;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 1px 3px 4px rgba(0,0,0,0.2);
  text-transform: uppercase;
  padding: 4px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-ach-header .cl-main-widget-ach-header-label {
  font-weight: 600;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-ach-header .cl-main-widget-ach-header-close {
  background-size: 100%;
  right: -15px;
}
.cl-main-widget-wrapper .cl-main-widget-ach-details-container .cl-main-widget-ach-details-header-label {
  font-weight: 600;
}

.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-section-reward {
  height: calc(100% - 70px);
  overflow: unset;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-reward-header .cl-main-widget-reward-header-label {
  font-weight: 600;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-reward-header .cl-main-widget-reward-header-close {
  background-size: 100%;
  right: -15px;
  border-bottom: unset;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-reward-list {
  overflow: hidden;
}
.cl-main-widget-wrapper .cl-main-widget-reward-details-container .cl-main-widget-reward-details-header-label {
  font-weight: 600;
}
.cl-main-widget-wrapper .cl-main-widget-reward-details-container .cl-main-widget-reward-claim-btn {
  color: var(--primary-color);
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-section-inbox {
  height: calc(100% - 70px);
  overflow: unset;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-inbox-header .cl-main-widget-inbox-header-label {
  font-weight: 600;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-inbox-header .cl-main-widget-inbox-header-close {
  background-size: 100%;
  right: -15px;
  border-bottom: unset;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-inbox-list {
  overflow: hidden;
}
.cl-main-widget-wrapper .cl-main-widget-inbox-details-container .cl-main-widget-inbox-details-header-label {
  font-weight: 600;
}

/****************************************************************
	 ******* Embedded description styling and layout changes ********
	 ****************************************************************/
.cl-main-widget-wrapper .cl-main-section-image-banner-active .cl-main-widget-lb-details-image-container {
  max-width: 100%;
  overflow: hidden;
  max-height: 200px;
  text-align: center;
}
.cl-main-widget-wrapper .cl-main-section-image-banner-active .cl-main-widget-lb-details-image {
  max-height: 200px;
  width: auto;
}
@media screen and (min-width:1040px){
  .cl-main-widget-wrapper .cl-main-section-image-banner-active .cl-main-widget-lb-details-image {
    width: 100%;
    height: auto;
  }
}

.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-details-description-container {
  float: left;
  width: 100%;
  padding:10px;
  display:none;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-section-image-banner-active .cl-main-widget-lb-leaderboard {
  top: 200px;
  height: calc(100% - 200px);
  padding-top: 72px;
}
.cl-main-widget-wrapper .cl-main-widget-section-container.cl-main-active-embedded-description .cl-main-section-image-banner-active .cl-main-widget-lb-details-description-container {
  height: calc(100% - 265px);
}
.cl-main-widget-wrapper .cl-main-widget-section-container.cl-main-active-embedded-description .cl-main-widget-lb-details-description-container {
  display: block;
  position: relative;
  height: calc(100% - 70px);
  overflow: hidden;
  background: var(--primary-color-darken);
}
.cl-main-widget-wrapper .cl-main-widget-section-container.cl-main-active-embedded-description .cl-main-widget-lb-details-description {
  float:left;
  width:100%;
  height:100%;
  max-height:100%;
  overflow: auto;
  color: var(--light-grey);
  font-size: 12px;
}
.cl-main-widget-wrapper .cl-main-widget-section-container.cl-main-active-embedded-description .cl-main-widget-lb-details-description a{
  color: var(--primary-font-color);
}
.cl-main-widget-wrapper .cl-main-widget-section-container.cl-main-active-embedded-description .cl-main-widget-lb-details-description p{
  margin-bottom: 1em;
}
.cl-main-widget-wrapper .cl-main-widget-section-container.cl-main-active-embedded-description .cl-main-widget-lb-details-description img{
  max-width:100%;
  margin-bottom: 1em;
}
.cl-main-widget-wrapper .cl-main-widget-section-container.cl-main-active-embedded-description .cl-main-widget-lb-details-description-close{
  float: left;
  width: 100%;
  height: 25px;
  background: var(--primary-color-darken);
  position: absolute;
  bottom: 8px;
  left: 0;
  cursor: pointer;
}
.cl-main-widget-wrapper .cl-main-widget-section-container.cl-main-active-embedded-description .cl-main-widget-lb-details-description-close::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: calc(50% - 2px);
  width: 12px;
  height: 12px;
  border: 2px solid var(--primary-font-color);
  border-right: transparent;
  border-bottom: transparent;
  transform: translate(-50%) rotate(45deg);
}
.cl-main-widget-wrapper .cl-main-widget-section-container.cl-main-active-embedded-description .cl-main-widget-lb-details {
  height:calc(100% - 51px);
}
.cl-main-widget-wrapper .cl-main-widget-section-container.cl-main-active-embedded-description .cl-main-widget-lb-leaderboard {
  display:none;
}
.cl-main-widget-wrapper .cl-main-widget-section-container.cl-main-active-embedded-description .cl-main-widget-lb-missing-member {
  display:block !important;
}
.cl-main-widget-wrapper .cl-main-widget-section-container.cl-main-active-embedded-description .cl-main-widget-lb-details-description *:last-child {
  margin-bottom: 30px;
}
/********************************************************************
 ***************************** END **********************************
 *******************************************************************/
/**
 * *************************************
 * ********** Mobile Devices ***********
 * *************************************
 */
/* Portrait and Landscape [@media only screen and (min-device-width: 375px) and (max-device-width: 812px)] */
@media (max-width: 1000px) {
  .cl-main-widget-wrapper {
    left: 0;
    max-width: unset;
    transform: unset;
  }

  .cl-main-widget-wrapper .cl-main-widget-section-container .cl-name-col {
    max-width: 200px;
  }
  .cl-main-widget-wrapper .cl-main-widget-section-container .cl-growth-col {
    max-width: 55px;
  }
  .cl-main-widget-wrapper .cl-main-widget-section-container .cl-points-col {
    max-width: 220px;
  }
}

@media (max-width: 812px) {

  .cl-main-widget-wrapper .cl-main-widget-navigation-container {
    width: 100%;
  }
  .cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-items {
    padding: 0;
  }
  .cl-main-widget-wrapper .cl-hidden-navigation .cl-main-widget-section-container {
    padding: 0 0 0 0;
  }
  .cl-main-widget-wrapper .cl-main-widget-pre-loader {
    opacity: 1;
    top: 81px;
    height: calc(100% - 80px);
    width: 100%;
  }
  .cl-main-widget-wrapper .cl-hidden-navigation .cl-main-widget-pre-loader{
    height: 100%;
    width: 100%;
    top:0;
  }
  .cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-header .cl-main-widget-lb-header-list-icon {
    width: 30px;
    height: 30px;
  }

  .cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-header {
    height: 32px;
  }

  .cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-header .cl-main-widget-lb-header-date {
    line-height: 32px;
    font-size: 14px;
  }
  .cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-header .cl-main-widget-lb-header-label {
    line-height: 32px;
    font-size: 16px;
    display: none;
  }
  .cl-widget-ms-wrapper .cl-main-widget-lb-header-date .time-ind {
    font-size: 7px;
  }

  .cl-main-widget-wrapper .cl-main-widget-lb-details-container {
    height: calc(100% - 64px);
    top: 32px;
  }
}

@media (max-height: 520px) and (max-width: 812px) {
  .cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-header {
    height: 30px;
  }
  .cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-header .cl-main-widget-lb-header-list-icon {
    width: 30px;
    height: 30px;
    margin: 3px 0 0 10px;
  }
  .cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-header .cl-main-widget-lb-header-date {
    line-height: 30px;
    font-size: 13px;
  }
  .cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-details {
    height: 30px;
  }
  .cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-details-content {
    padding: 2px 0 0 0;
  }
  .cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-leaderboard {
    padding: 70px 0 22px 0;
  }
  .cl-main-widget-wrapper .cl-main-widget-pre-loader {
    top: 61px;
    height: calc(100% - 60px);
  }
  .cl-main-widget-wrapper .cl-hidden-navigation .cl-main-widget-pre-loader{
    height: 100%;
    width: 100%;
    top:0;
  }

  .cl-main-widget-wrapper .cl-hidden-navigation .cl-main-widget-section-container {
    padding: 0 0 0 0;
  }
}
@media screen and (max-width:480px) {

  .cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-items{
    justify-content: space-between;
  }

}
